.header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 30px;
}

.manrope {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
