main {
    background-color: #f8f8f8;
    margin: 20px 30px;
    padding: 40px;
    display: flex;
    /* Align centrally */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Account Container */
.account-container {
    width: 60%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Profile Section */
.personal-details {
    display: flex;
    /* Adds even space for elements (otherwise, img will crush into the form) */
    justify-content: space-between;
    /* Align vertically */
    align-items: center;
}

/* Form will take 70% of its container */
.details {
    width: 70%;
}

.details label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

.details input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f0f0f0;
}

/* Avatar */
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar img {
    width: 100%;
    height: 100%;
    /* For cat to be fit perfectly */
    object-fit: cover;
}

button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    /* Change cursor upon hover */
    cursor: pointer;
    margin-right: 10px;
}


.orders h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.orders-table {
    /* So table would take all space of its container */
    width: 100%;
    /* So columns would be merged (no borders) */
    border-collapse: collapse;
}

.orders-table th, .orders-table td {
    padding: 10px;
    border: 1px solid #ddd;
    /* Align text to left side */
    text-align: left;
}

.orders-table th {
    background-color: #ddd;
    font-weight: bold;
}

.status-pending {
    color: orange;
}

.status-completed {
    color: green;
}

.status-cancelled {
    color: red;
}
