main {
    display: flex;
    /* Align centrally */
    justify-content: center;
    align-items: center;
    /* Setting a min height for container, without it it will crash to navbar */
    min-height: 100vh;
}

/* Sign Up Container */
.registration-container {
    display: flex;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* Left Side (Image Section) */
.image-section {
    /* Allow img to take space, without it form will take all space of container */
    flex: 1;
    background: url("../../img/authorization/sign-up-background.jpg") no-repeat center center;
    /* Img will take size of its container */
    background-size: cover;
}

/* Right Side (Form Section) */
.form-section {
    /* Without flex:1, picture will take all space of container :) */
    flex: 1;
    display: flex;
    /* Center horizontally */
    flex-direction: column;
    justify-content: center;
    /* Center vertically */
    align-items: center;
    padding: 2rem;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

p {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    /* Here, label will be positioned inside the input */
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-group input {
    /* input fills the entire available space */
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    /* Removes default browser outline */
    outline: none;
    /* Smooth transition to change colour */
    transition: 0.3s;
}

.input-group label {
    /* Labels will be inside inputs */
    position: absolute;
    /* Switch to left */
    left: 10px;
    /* Switches to top */
    top: 50%;
    /* Tells the label to remain centered */
    transform: translateY(-50%);
    font-size: 14px;
    color: gray;
    /* Prevents the label from being clicked */
    pointer-events: none;
    /* Smooth transition again */
    transition: 0.3s;
}

/* Changes border color when the input is focused or has valid input */
.input-group input:focus,
.input-group input:valid {
    border-color: saddlebrown;
}

/* Moves the label upwards when the input is focused or contains text */
.input-group input:focus + label,
.input-group input:valid + label {
    top: 10px;
    font-size: 12px;
    color: lightgray;
}

/* Registration Button */
.register-btn {
    /* Makes the button span the full width of its container */
    width: 100%;
    padding: 10px;
    border: none;
    background: saddlebrown;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    /* Changes pointer upon hover */
    cursor: pointer;
    transition: 0.3s;
}

/* Changes coolour on hover */
.register-btn:hover {
    background: sandybrown;
}

/* Sign In Link */
.signin-text {
    margin-top: 10px;
    font-size: 18px;
}

.signin-text a {
    color: sandybrown;
    text-decoration: none;
    font-weight: 600;
}

/* Adds underline upon hover */
.sigin-text a:hover {
    text-decoration: underline;
}
