@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Cookie&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

/* Login Container */
.registration-container {
    display: flex;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; /
}

/* Left Side (Image Section) */
.image-section {
    flex: 1;
    background: url("../../img/authorization/sign-up-background.jpg") no-repeat center center;
    background-size: cover;
}

/* Right Side (Form Section) */
.form-section {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;
}

/* Form Styling */
h2 {
    margin-bottom: 10px;
    font-size: 1.8rem;
}

p {
    color: gray;
    font-size: 14px;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.input-group label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: gray;
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus,
.input-group input:valid {
    border-color: saddlebrown;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: 10px;
    font-size: 12px;
    color: lightgray;
}

/* Registration Button */
.register-btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: saddlebrown;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.register-btn:hover {
    background: sandybrown;
}

/* Sign In Link */
.signin-text {
    margin-top: 10px;
    font-size: 18px;
}

.signin-text a {
    color: sandybrown;
    text-decoration: none;
    font-weight: 600;
}

.sigin-text a:hover {
    text-decoration: underline;
}
