.shipping-container {
    /* Limits width to make it look like a card */
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.shipping-container h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}

.shipping-section {
    /* Adds a divider between questions */
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

/* Removes bottom border from the last section for a clean layout */
.shipping-section:last-child {
    border-bottom: none;
}

.shipping-section h3 {
    font-size: 20px;
    color: #333;
    margin: 0;
}

.shipping-section p {
    font-size: 16px;
    color: #666;
    margin: 10px 0 0 0;
}

/* Reviews sidebar */
.sidebar-reviews {
    /* Makes reviews stay on the right side and not fall down */
    position: absolute;
    right: 20px;
    /* Attaches to top ! */
    top: 100px;
    width: 250px;
    display: flex;
    /* Does column-like layout */
    flex-direction: column;
    /* Gap between reviews */
    gap: 20px;
}

.review {
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.review-content {
    display: flex;
    flex-direction: column;
    /* Gap between content */
    gap: 5px;
}

.review-content p {
    font-size: 14px;
    color: #333;
    margin: 0;
    font-weight: bold;
    /* Sets a line height for a paragraph to look better */
    line-height: 1.4;
}

.review-content span {
    font-size: 12px;
    color: gray;
    line-height: 1.2;
}
